/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background-color: #5252fa;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3838ab;
}

input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

/* 鼠标悬停时的样式 */
input[type="text"]:hover {
    border-color: #888;
}

/* 获得焦点时的样式 */
input[type="text"]:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px #555;
}

input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    height: 30px;
    background-color: rgba(82, 82, 250, 0.8);
    border-radius: 5px; /*这个属性设置使填充进度条时的图形为圆角*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /*隐藏滑块*/
}

input[type=range]::-webkit-slider-runnable-track {
    height: 30px;
    border-radius: 5px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .12em .12em #0d1112; /*轨道内置阴影效果*/
}

input[type=range]:focus {
    outline: none; /*原始的控件获取到焦点时，会显示包裹整个控件的边框，所以还需要把边框取消。*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 30px;
    background: #ffffff;
    border-radius: 20%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    width: 30%;
    display: flex;
    margin-bottom: 5px;
}

.form-item label {
    width: 120px;
}

.form-item input {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .form-item label {
        font-size: 10px;
        line-height: 32px;
        width: 100px;
    }

    .form-item {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
    }

    .form-item input[type="text"] {
        width: 200px;
    }

    button {
        background-color: #5252fa;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}
